html {
    font-family: 'Oswald', sans-serif;
}

input[type=radio]:checked + img {
    border: dashed 2px black;
}

input {
    display: none;
}

button:hover {
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    font-family: 'Oswald', sans-serif;
}

.heading {
    text-align: center;
}

.upper-container {
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    outline-style: solid;
    outline-color: black;
}

.info-results {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 85%;
    justify-items: center;
    outline-style: solid;
    outline-color: black;
    height: 400px;
    
}

.computer-stuff {
    grid-column-start: 5;
    grid-column-end: 8;
    width: 75%;
    text-align: center;
    text-justify: auto;
    height: 300px;
}

.buttons-misc {
    text-align: center;
    margin-top: 60px;
}

.images {
    width: 150px;
    height: 150px;
}

.rockimage {
    width: 150px;
    height: 150px;
    display: none;
    margin-left: 30%;
}
.paperimage {
    width: 150px;
    height: 150px;
    display: none;
    margin-left: 30%;
}
.scissorsimage {
    width: 150px;
    height: 150px;
    display: none;
    margin-left: 30%;
}